<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/test" method="post">
        <input type="text" name="name" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="mail" placeholder="mail">
        <input type="submit" value="Submit">
    </form>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script> -->
<!-- <script src="../public/test.js"></script> -->
</html>